/*Nav Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #ff8000;
    height: 35px;
    font-family: 'Special Elite', cursive;

}

.navbar img {
	float: left;
	height: 30px;
	width: 30px;
	margin-top: 5px;
	margin-left: 60px;

}

.navbar li {
	background-color: #ff8000;	
	color: white;

}

#header {
    float: left;
    font-size: 23px;
}

li a {
    display: block;
    color: white;
    text-align: right;
  	padding: 15px 16px;
    text-decoration: none;
    float: right;
    font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffbf00;
}

/*search box*/
.searchbox {
	float: right;
	padding-right: 20px;
	color: black;	
}

input {
	width: 80%;
	height: 30px;
	text-align: center;
	background-color: #F0F0F0; 	
}


.content img {
	float: left;
	padding: 70px;
	height: 300px;
	padding-top: 50px;
	padding-left: 100px;
    

}

.content p {
	background-color: white;
	padding-top: 90px;
	padding-right: 50px;
	font-size: 40px;
	color: orange;
	font-family: 'Special Elite', cursive;
}

.content{
	color: #2eb8b8;
}
	
.button1 {
    background-color: #ff8000; 
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'Special Elite', cursive;
}

.button2 {
    background-color: #2eb8b8;
	border: none;
    color: white;
    padding: 14px 40px;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'Special Elite', cursive;
}



footer {
	background-color: #2eb8b8;
	height: 80px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

